/* Adjust tab corner shape, optionally remove space below tabs */

#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}
@media (-moz-proton) {
    .tab-background {
        border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
        margin-block: 1px 0 !important;
    }
    /* Container color bar visibility */
    .tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
        margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
    }
}

/* Inactive tabs: Separator line style */

@media (-moz-proton) {
    .tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
        border-right: 1px solid rgba(0, 0, 0, .20) !important;
    }
    /* For dark backgrounds */
    [brighttext="true"] .tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
        border-right: 1px solid var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20)) !important;
    }
    .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
        border-radius: 0 !important;
    }
    /* Remove padding between tabs */
    .tabbrowser-tab {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Tweak Options as of 6/05/2021; Generated Mon Jun 07 2021 21:35:05 GMT+0200 (Central European Summer Time) */
