/*** Tighten up drop-down/context/popup menu spacing ***/

menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: initial !important; }

/*** Proton Tabs Tweaks ***/

/* Adjust tab corner shape, optionally remove space below tabs */

#tabbrowser-tabs {
    --user-tab-rounding: 0px;
}

@media (-moz-proton) {
    .tab-background {
        border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important;
        margin-block: 1px 0 !important;
    }
    #scrollbutton-up, #scrollbutton-down { /* 6/10/2021 */
        border-top-width: 1px !important;
        border-bottom-width: 0 !important;
    }
    /* Container color bar visibility */
    .tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
        margin: 0px max(calc(var(--user-tab-rounding) - 3px), 0px) !important;
    }
}

/* Override Normal Density height to Compact Density height only for tabs */

@media (-moz-proton) {
    #tabbrowser-tabs {
        --tab-min-height: 29px !important;
    }
    #scrollbutton-up,
    #scrollbutton-down {
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;
    }
}

/* Inactive tabs: Separator line style */

@media (-moz-proton) {
    .tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
        border-right: 1px solid var(--lwt-background-tab-separator-color, rgba(0, 0, 0, .20)) !important;
    }
    /* For dark backgrounds */
    [brighttext="true"] .tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
        border-right: 1px solid var(--lwt-background-tab-separator-color, var(--lwt-selected-tab-background-color, rgba(255, 255, 255, .20))) !important;
    }
    .tabbrowser-tab:not([selected=true]):not([multiselected=true]) .tab-background {
        border-radius: 0 !important;
    }
    /* Remove padding between tabs */
    .tabbrowser-tab {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Tweak Options as of 6/12/2021; Generated Tue Jun 15 2021 22:06:51 GMT+0200 (Central European Summer Time) */

/* Highlight currently active tab */

.tab-background[selected]::before,

.tabbrowser-tab:hover > stack > .tab-background::before {
	display: -moz-box;
	height: 2px;
	content: "";
}

.tab-stack:hover > .tab-background::before {
	background-color: inherit;
}

.tab-stack > .tab-background[selected]::before {
	background-color: highlight;
	background-image: linear-gradient(var(--tab-line-color),var(--tab-line-color));
}
