Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Base16 Solarized Dark
! Scheme: Ethan Schoonover (http://ethanschoonover.com/solarized)

! #define base00 #002b36
! #define base01 #073642
! #define base02 #586e75
! #define base03 #657b83
! #define base04 #839496
! #define base05 #93a1a1
! #define base06 #eee8d5
! #define base07 #fdf6e3
! #define base08 #dc322f
! #define base09 #cb4b16
! #define base0A #b58900
! #define base0B #859900
! #define base0C #2aa198
! #define base0D #268bd2
! #define base0E #6c71c4
! #define base0F #d33682

! *foreground:   base05
! #ifdef background_opacity
! *background:   [background_opacity]base00
! #else
! *background:   base00
! #endif
! *cursorColor:  base05

! *color0:       base00
! *color1:       base08
! *color2:       base0B
! *color3:       base0A
! *color4:       base0D
! *color5:       base0E
! *color6:       base0C
! *color7:       base05

! *color8:       base03
! *color9:       base08
! *color10:      base0B
! *color11:      base0A
! *color12:      base0D
! *color13:      base0E
! *color14:      base0C
! *color15:      base07

! ! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! ! use 'shell' template to set these if necessary
! *color16:      base09
! *color17:      base0F
! *color18:      base01
! *color19:      base02
! *color20:      base04
! *color21: base06

! Gruvbox dark colorscheme
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

!#################################
!###### Xterm configuration ######
!#################################

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm*fullscreen: never
XTerm*selectToClipboard: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.geometry: 80x24
!XTerm.vt100.internalBorder: 14

! Cursor ====================================================
! pointer and cursor (blinking and color)
XTerm*pointerColor: white
XTerm*pointerColorBackground: black
XTerm*cursorColor: white
XTerm*cursorBlink: false

!! Selecting Text ========================================================
! Only select text
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

!! Scrolling ========================================================
! Use: Shift-Pageup / Shift-Pagedown to scroll or mousewheel
! Lines of output that you can scroll back over
XTerm*saveLines: 16384

! Turn the scrollbar on, and put it on the right
! XTerm.vt100.scrollBar: true
! XTerm.vt100.scrollbar.width: 8
! xterm*scrollBar: true
! xterm*rightScrollBar: true

! Do not scroll when there is new input e.g. tail -f /var/syslog
! XTerm*scrollTtyOutput: false


!! Keybinding ========================================================
! http://blog.rot13.org/2010/03/change-font-size-in-xterm-using-keyboard.html
! - change fontsize on the fly (ctrl+plus = increase ; ctrl+minus = decrease, ctrl+0 = default)
! - copy/paste hotkey (ctrl+shift+c = copy ; ctrl+shift+v = paste)
! - open url (clickable links)
!   1) double click to highlight the full url
!   2) Shift + click it to open it
XTerm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
  <Btn2Up>: insert-selection(PRIMARY)


! fonts
! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22
XTerm.vt100.faceName: Inconsolata:size=12:antialias=true
XTerm.vt100.font: 7x13
! this option reverses font colors
!XTerm.VT100.reverseVideo: true

! this enables selecting links with double click and opening them with Alt + o
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
*VT100.Translations: #override \n\
  Alt <Key>o: exec-formatted("firefox '%t'", PRIMARY) select-start() select-end()


!#################################
!###### Urxvt configuration ######
!#################################
! urxvt
URxvt*intensityStyles: true
URxvt*buffered: true
URxvt*cursorBlink: false
! URxvt*letterSpace: -1
URxvt*font: xft:inconsolata:size=12
URxvt*scrollBar: false
! URxvt*loginShell: true
URxvt*secondaryScroll: true     # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*perl-ext-common: default,matcher,resize-font,url-select,keyboard-select
URxvt*colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: firefox
URxvt.url-select.underline: true
! URxvt.urlLauncher: firefox
!! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
!! resize-font
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-plus
URxvt.resize-font.reset: C-0
!! matcher
URxvt.url-launcher: firefox
